@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
}

html {
  /* defines what 1rem is */
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #fff;
  padding: 0.4rem;
  background-color: #2d2013;
}

header {
  background-color: #356c0e;
  text-align: center;
}

main {
  flex: 1;
  display: flex;
  min-height: 0;
  max-width: 96rem;
  margin: 0 auto;
}

nav {
  background-color: rgb(150, 106, 24);
  max-width: 100%;
  padding: 1rem 0.4em;
}

article {
  overflow: auto;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  padding-bottom: 1rem;
}

.search-bar {
  margin: 1rem 0;
  max-width: 32rem;
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: 0 0.2rem;
}

.cards {
  max-width: 96rem;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
  border-radius: 1rem;
  background-color: #030e12;
  padding: 1rem;
}

img {
  width: 100%;
  height: auto;
  border-radius: 1rem 1rem 0 0;
}

.card h3 {
  color: white;
  font-size: 18px;
}

.recipe-list-container {
  display: flex;
  margin: 2.5rem 0;
}

.content img {
  width: 100%;
  height: auto;
  position: relative;
}

.content .inner-content {
  position: absolute;
  top: 20%;
  left: 50%;
  height: calc(14% - 3.5px);
  width: calc(20vh * 1.2);
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-size: 1.2rem;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.recipe-details {
  padding: 0 1rem;
  margin: 2rem auto;
}

.ingredients {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

nav h1 {
  background-color: black;
  width: 100%;
  display: inline-block;
}

button {
  position: absolute;
  top: 1%;
  left: 2%;
  z-index: 2;
  font-weight: bold;
}

button, input[type="submit"], input[type="reset"] {
	background: green;
	color: inherit;
  border-radius:5%;
	border: none;
	padding: 2px 4px;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:before {
  content: " ←"
}

/* .sticky {
  position: relative;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
*/

/* @media screen and (max-width: 799px) {
 nav {
      display:block;
  }
  .hamburger {
    display: block;
    position: absolute;
    margin:4px;
    height: 9px;
    width:60px;
    background: #d3531a;
    border-radius: 9px;
    height: auto;
  }
  .hamburger:after {
    content: " ←"
  }
}  */

/* active on category hide on search */